{% extends "nonlevel.html" %}
{% block title %} 
	About Savior
{% endblock %}

{% block content %}
	<div class="col-md-12 text-center">    
		<h2>About Savior</h2>
		<p>Welcome to my game "Savior".</p>
		<p>This game was built using the Flask web framework, a powerful and flexible Python-based tool for creating dynamic web applications. 
		<p>It was deployed on Linode server</p>
		<p>Hope you enjoy the game</p>
		<br><br>
		<p>Powered by Flask and Linode</p>
		<p>Written in by Diamond Dai </p>
		<p><a href="http://diamondcoding.click">Visit Diamond's Webpage</a></p>
	</div>
{% endblock %}


