{% extends "level.html" %}
{% block title %} 
	Level 2
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="static/css/level2.css">
{% endblock %}

{% block content %}
<div class="col-md-12 text-center">
	<h1>This is Level 2</h1>
	<h2>Find the button can help you to get score and reach 50 to pass to next level</h2>
	<img src="../static/images/tap.png" width="200px">
	<div class="container">
		<p>Score: <span id="scoreDisplay">0</span></p>
		<form id="exitForm" action="#" method="post" class="hidden">
			<p class="hidden"><input type="text" name="passCount" value="50"/></p>
			<p><input type="submit" name="submit" value="Go To Next Level!"/></p>
		</form>
	</div>
	<div id="buttons-container"></div>
</div>    
{% endblock %}

{% block extrascript %}
	<script src="static/js/level2.js"></script>
{% endblock %}



