{% extends "level.html" %}

{% block title %} 
	Level 3
{% endblock %}

{% block content %}   
<div class="col-md-12 text-center">
    <h1>Welcome to Level 3!</h1>
    <form action="#" method="post">
        <h3>Please enter your hero name and password below</h3>
        <img src="../static/images/role-model.png" width="200px">
        <p>Hero Name:</p>
        <p><input type="text" name="hero"/></p>

        <p>Password:</p>
        <p><input type="text" name="password"/></p>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p style="color:red">{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <p><input type="submit" value="submit"/></p>
    </form>
</div>
{% endblock %}
