{% extends "level.html" %}
{% block title %} 
	Level 2
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="static/css/level2.css">
{% endblock %}

{% block content %}
<div class="col-md-12 text-center">
	<h1>This is Level 2</h1>
	<h2>Find the button can help you to get score and reach 50 to pass to next level</h2>
	<div class="container">
		<p id="scoreDisplay">Score: <span id="scoreCount">0</span></p>
	</div>
	<form action="#" method="post">
		<input type="text" name="count" value="50" class="hidden">		
		<input type="submit" value="submit" id="exitBtn">
	</form>
	<div id="buttons-container"></div>
</div>    
{% endblock %}

{% block additionalscript %}
	<script src="static/js/level2.js"></script>
{% endblock %}



