{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
<h4>Choose your hero and click start</h4>
<form action="#" method="POST">
    <div>
        <p>Hero:</p>
        <select name="hero" placeholder="Choose Your Name">
            <option>Amoro</option>
            <option>Belle</option>
            <option>LukeSkywalker</option>
        </select>
        <p>Password:</p>
        <input type="password" name="password" /><br>
        <input type="submit" value="submit"/>        
    </div>
    <br>
</form>
{% endblock %}