{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
<div class="col-md-12 text-center">
    <h4>Choose your hero and click start</h4>
    <form action="#" method="POST">
        <div>
            <p>Hero:</p>
            <select name="hero" placeholder="Choose Your Name">
                {% for hero in heroNames %}
                    <option value="{{ hero }}">{{ hero }}</option>
                {% endfor %}
            </select>
            <p>Password:</p>
            <input type="password" name="password" /><br>
            <div class="col-md-12 text-center">
                <p>Please remember your hero and password, to be ensure you are ready to take this challenge</p>
                <p>After clicking START button, you will have <span id="mins"> {{ session.allow_time_mins }} </span> minutes of HERO power to escape from this digital maze</p>
                <p>If time is over, you cannot exit from the maze and you may need to return starting point to try again</p>
            </div>
            <br>
            <h3>READY TO GO?</h3>
            <input id="startBtn" type="submit" value="START"/>     
        </div>
        <br>
    </form>
</div>

{% endblock %}