{% extends "nonlevel.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
<div class="col-md-12 text-center">
    <h4>First, Choose your hero and password, click start</h4>
    <form action="#" method="POST">
        <div>
            <p>Hero:</p>
            <select name="hero" placeholder="Choose Your Name" required>
                <option>Amoro</option>
                <option>Belle</option>
                <option>LukeSkywalker</option>
            </select>
            <p>Password:</p>
            <input type="password" name="password" required/>
            <br>
            <input type="submit" value="start"/>        
        </div>
        <br>
    </form>
</div>

{% endblock %}