{% extends "nonlevel.html" %}
{% block title %}Confirmation{% endblock %}

{% block content %}
    <div class="col-md-12 text-center">
        <p>That's Great!</p>
        <p>You chose {{ session.hero }} and your password: {{ session.password }}</p>
        <p>Please remember your hero and password, to be ensure you are ready to take this challenge</p>
        <p>After clicking ENTER button, you will have {{ session.allowTimeMinutes }} minutes of HERO power to escape from this digital maze</p>
        <p>If time is over, you cannot exit from the maze and you may need to return starting point to try again</p>
        <h3>READY TO GO?</h3>
        <button id="enterBtn">ENTER</button>
    </div>
{% endblock %}

{% block script %}
    <script src="../static/js/view.js"></script>
{% endblock %}